@import url('"../Roboto_Mono/RobotoMono-Bold.ttf"');
body{
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://www.houseofcode.io/wp-content/themes/hoc/library/img/geil.png);
    position: relative; 
    overflow: hidden;
    background-color: #ffffff;
}

.logo {
    width: 97px;
    height: 54px;
    top: 30px;
    left: 20px;
    padding-top: 30px;
}
a{
    padding: 15px;
    border: 3px solid #a6bb75;
    color: #a6bb75;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
}
a:hover{
    color: #ffffff;
    background-color: #a6bb75;
}

.naeste{
    width: 20%;
    text-align: center;
    font-family: roboto mono;
}

.naesteknap{
    display: flex;
    justify-content: center;
}

.yellow{
    color: #d8a55a;
}
.purple{
    color: #aa81ac;
}
.green {
	color: #a6bb75;
}

h1{
    color: #515f6d;
	font-size: 40px;
    font-family: roboto mono;
    margin: 30px 20% 5% 97px;
}

h2{
	color: #515f6d;
	font-size: 20px;
	font-family: roboto mono;
	 margin: 0px 12% 5% 48px;
}

p{
	color: #515f6d;
	font-size: 15px;
	font-family: roboto mono;
	
}


/* 700px eller under*/
@media only screen and (max-width: 700px){
    body{
        background-color: crimson;
}
    h1{
        text-align: right; 
        font-size: 30px;
        margin: 0 30px 8% 30%;
    }
    h2{
        font-size: 15px;
        margin: 0px 12% 8% 48px;
    }
    p{
        font-size: 12px;
    }
}
 /*bevægelse i baggrunden*/
 #canvas_container{
      width: 100%;
      margin-right:50px; /*den lille orange box, ligge udenfor skærm*/
      position: absolute;
	  top: 400px;
	 
    }
    #my_canvas{
     display: flex;
     float: left;
    }
