@import url('"../Roboto_Mono/RobotoMono-Bold.ttf"');
body{
    height: 100%;
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://www.houseofcode.io/wp-content/themes/hoc/library/img/geil.png);
    position: relative; 
    overflow: hidden;
    background-color: #ffffff;
}

.logo {
    width: 97px;
    height: 54px;
    top: 30px;
    left: 20px;
}
a{
    padding: 15px;
    border: 3px solid #a6bb75;
    color: #a6bb75;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
}

#start{
    width: 20%;
    text-align: center;
}

#startknap{
    display: flex;
    justify-content: center;
}

.yellow{
    color: #d8a55a;
}
.purple{
    color: #aa81ac;
}

h1{
    text-align: left;
    color: #515f6d;
}

/* 700px eller under*/
@media only screen and (max-width: 700px){
    body{
        background-color: crimson;
}
    h1{
        display: flex;
        text-align: end;
        justify-content: flex-end;
    }
}
 #canvas_container{
      width: 90%;
      margin-left:500px;
      position: absolute;
    }
    #my_canvas{
     display: flex;
     float: right;
    }
